In [1]:
import pandas as pd

In [3]:
pd.__version__.split(".")

['1', '2', '4']

In [4]:
category_salaries = pd.read_csv("salaries_usable.csv")
safe_category_salaries = category_salaries.copy()

In [5]:
safe_category_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           1332 non-null   int64
 1   experience_level    1332 non-null   object
 2   employment_type     1332 non-null   object
 3   job_title           1332 non-null   object
 4   salary              1332 non-null   int64
 5   salary_currency     1332 non-null   object
 6   salary_in_usd       1332 non-null   int64
 7   employee_residence  1332 non-null   object
 8   remote_ratio        1332 non-null   int64
 9   company_location    1332 non-null   object
 10  company_size        1332 non-null   object
dtypes: int64(4), object(7)
memory usage: 114.6+ KB

In [9]:
classes = pd.api.types.CategoricalDtype(ordered = True, categories = ['EN', 'MI', 'SE', 'EX'])
safe_category_salaries['experience_level'] = safe_category_salaries['experience_level'].astype(classes)

In [11]:
safe_category_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           1332 non-null   int64
 1   experience_level    1332 non-null   category
 2   employment_type     1332 non-null   object
 3   job_title           1332 non-null   object
 4   salary              1332 non-null   int64
 5   salary_currency     1332 non-null   object
 6   salary_in_usd       1332 non-null   int64
 7   employee_residence  1332 non-null   object
 8   remote_ratio        1332 non-null   int64
 9   company_location    1332 non-null   object
 10  company_size        1332 non-null   object
dtypes: category(1), int64(4), object(6)
memory usage: 105.7+ KB